body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-bg {
  background-color: #0b0b0b;
}
.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-menu,
.header-redes {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a,
.header-redes a {
  padding: 16px 0;
  color: #fff;
  display: inline-block;
}
